/*
* Used google API to import the Merriweather and Aleo fonts.
* Merriweather seems good to use for regular paragraphs with its nice readability.
*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Aleo');
body {
    font-family: Merriweather, sans-serif;/*Imported from googleAPI */
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fff;
    display: block;
    width: auto;
    font-weight: 300;
}
body a {
    text-decoration: none;
}


div {
    display: block;
}
html {
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    outline: 0;
    padding: 0;
    display: block;
}
h1 {
    font-size: 2.2em;
    box-shadow: 0px 10px purple;
}

p {
    font-size: 1.4rem;
    font-family: Aleo, sans-serif; /* Imported from googleAPI*/
    line-height: 175%;
    font-weight:normal;
}

/* Navigation customization */ 
a:link {
    color:green;
}

a:visited {
    color: purple;
}
a:hover{
    color:green;
}
a:active {
    color: black;
}

nav ul a {
    text-decoration: none; /*Removes the underline from nav bar.*/
    font-size: 1.7rem;
}
.nav-item:not(:last-child) {
    margin-right: 4.8%;
}
.navbar {
    /*margin-left:-4%; /*Moves the alignment of the text to the left to match the page.*/
    font-size: 1.12rem;
    width: 100%;
}
/* Header Customization */
.header {
    display: flex;
    margin-bottom: 60px;
}
.header-section-nav {
    align-self: center;
    width: 100%;
}

.page {
    margin-left: auto;
    margin-right: auto;
}

/*Wraps the whole page.*/
.wrap{
    max-width: 1024px;
    padding: 80px 30px;
    width: 100%;
}
.float-left{
    float: left;
    border: inset purple;
    border-radius: 5%;
}
/*These control the images at the bottom of the homepage.*/
.home-images {
    padding-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.home-left-image{
    background-color: palegoldenrod; /*Just here as a placeholder*/
    padding-right: 20%; /*Creates space between images on homepage.*/
}
.home-right-image{
    background-color: yellow; /*Just here as a placeholder*/
    padding-left: 30%; /*Creates space between images on homepage.
}